.content {
    width: 80%;
    margin: 5% auto;
}

.title_wrap {
    height: 30px;
    margin-bottom: 20px;
}

.title_wrap,
.commentNum,
.commentType {
    display: flex;
    align-items: center;
}

.commentNum {
    margin-right: 30px;
}

.commentNum .title {
    font-weight: 800;
    font-size: 18px;
    margin-right: 10px;
}

.commentNum .num {
    font-size: 12px;

}

.commentType {
    font-size: 12px;
    color: #c1c1c1;

}

.commentType div {
    margin: 0 2px;
}

.commentType .tyleBoder {
    background: #c1c1c1;
    height: 10px;
    width: 1px;
    margin: 0 5px;
}

.input_wrap {
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input_wrap .usehead {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: green;
    margin-right: 10px;
    overflow: hidden;
}


.input_wrap .input_box {
    height: 30px;
    width: calc(100% - 80px);
    background: #F1F2F3;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    padding: 0 5px;
}
.input_wrap .input_box:hover{
    background-color: #fff;
}
.input_wrap .input_btn {
    height: 30px;
    width: 60px;
    background: #00AEEC;
    color: #fff;
    border: none;
    border-radius: 2px;
}
.comment_info .comment_item{
    margin-top:30px;
}
.comment_info .comment_item .item_head{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: rgb(0, 109, 128);
    margin-right: 10px;
    overflow: hidden;
}
.comment_info .comment_item{
    display: flex;
    align-items: center;
}
.comment_info .comment_item .item_state{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #7c7575;
}
.comment_info .comment_item .item_state div{
    margin-right: 15px;
}
.comment_info .item_info .item_name{
    font-size: 12px;
}
.comment_info .item_info .item_msg{
    font-size: 16px;
    margin: 5px 0;
    /* font-weight:; */
}
.img{
    height: 100%;
    width: 100%;
}
.delete:hover{
    color: blue;
}